<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form Validation</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Register.css') }}">
    <script src="https://smtpjs.com/v3/smtp.js"></script>
   <title>Register</title>
</head>

<body>
    
    <form class="form " id="form">
        <div class="image-container">
        <img src="static\images\nevar-systems-black3.png">
    </div>
        <p class="title">Register </p>
        <p class="message">Signup now and get full access to our app. </p>
        <div class="flex input-control">
            <label>
                <input id="username" class="input" type="text" placeholder="" required="" autocomplete="username">
                <span>Firstname</span>
            </label>
            
        
    
        <div class=" flex input-control">
            <label>
                <input id="lastname" class="input" type="text" placeholder="" required="" autocomplete="username">
                <span>Lastname</span>
            </label>
            
        </div>
    </div>
        <div class="flex input-control">
            <label>
                <input id="email" class="input" type="email" placeholder="" required="" autocomplete="email">
                <span>Email</span>
            </label>
            
        </div>
    
        <div class="flex input-control">
            <label>
                <input id="password" class="input" type="password" placeholder="" required="" autocomplete="password1">
                <span>Password</span>
            </label>
            
        </div>
    
        <div class="flex input-control">
            <label>
                <input id="password2" class="input" type="password" placeholder="" required="" autocomplete="password2">
                <span>Confirm password</span>
            </label>
            
        </div>
    <div class="signin-container">
        <button id="sign" type="button" onclick="sendOTP()">Sign Up</button>
    </div>
    

        <p class="signin">Already have an account? <a href="#">Sign in</a> </p>
   
       
        
</form>
<script src="{{ url_for('static', filename='js/form2s.js') }}"></script>
<script src="{{ url_for('static', filename='js/otp.js') }}"></script>
</body>

</html>
